/*----------------------------------------------
    Index

		#1. General
		#2. Header
		#3. Menu
		#4. Body
		#5. Footer
		#6. Utilities
		#7. Media Queries

----------------------------------------------*/


/*----------------------------------------------
		#1. General
----------------------------------------------*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 900;
	color:#3a86ff;
}

h1, h2{text-align: center;}

h3,h4,h5,h6{
	text-align: left;
}

p,a,div,td,tr,th{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

p, span, div{
	font-size:18px;
	color: #011627;
}

a{
	color: #ff3366;
}

a:hover{
	color:#a32141;
}

.row{ max-width: 70em;}

a.anchor{
	display: block;
	/*height: 10em;*/
	visibility: hidden;
}

/*----------------------------------------------
    Mobile hamburger menu
----------------------------------------------*/
#bars {
    cursor: pointer;
    padding: 0.75em 1em;
	display:none;
}
#bars div {
    width: 35px;
    height: 5px;
    background-color: #ff3366;
    margin: 6px 0;
    transition: 0.4s;
}

#bars.change div{
	background-color: #a32141;
}
/* Rotate first bar */
.change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.change .bar-2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

ul.main-menu{
	list-style: outside none;
	display: block;
    margin: 0;
    padding: 0.5em 0;

}



/*----------------------------------------------
    Desktop Menu
----------------------------------------------*/
header{
	border-bottom: 1px solid #cacaca;
	overflow: auto;
	position: fixed;
  width: 100%;
  background: #fefcfd;
	color: #011627;
	z-index: 1;
}

.title h1{
	margin: 0.5em auto 0;
	padding: 0 0.5em;
	font-size: 2.5rem;
}

.logo{padding:8px;}
.logo img{
	max-height: 8em;
	margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-menu li{
  display: inline-block;
  width: calc(97%/ 3);
	font-size: 1.4em;
}
.main-menu li a{
	padding: 0.4em;
	display: block;
	text-align: center;
}


/*----------------------------------------------
		#4. Body
----------------------------------------------*/
.main{
	display: block;
	min-height: 50em;
	transition: background-color 0.5s ease;
	padding-top: 10em;
}

.main.dark{
	background-color: rgba(0,0,0,0.6);
}


/*----------------------------------------------
		#4. Sections
----------------------------------------------*/
.Work {
	/*background-color: #ff8c61;*/
}
.main section{
	margin: 2em auto;
}

/*.main section:first-of-type{
	margin-top:0;
}*/




/*----------------------------------------------
		#6. Utilities
----------------------------------------------*/

/* Accordion
----------------------------------------- */
.expand-heading {
    margin: 15px 0 0 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 8px 10px;
		overflow: auto;
}
.expand-heading h3{
	margin: 0.2em auto 0;
	color: #ff3366;
	float:left;

}
.expand-heading.clicked {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
.expand-heading:hover {
    cursor: pointer;
}
.expand-heading:hover,
.expand-heading.clicked {
    background-color: #f5f5f5;
}
.expand-heading:after {
    content: "+";
    float: right;
		font-size: 3em;
		line-height: 1em;
		margin-right: 0.25em;
		color: #ff3366;
		transition: 0.4s ease;
}
.expand-heading.clicked:after {
		transform: rotate(45deg)
}
.expand {
    display: none;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 1em;
		background-color: #fefcfd;
		overflow:auto;
}

.expand img{
	margin-bottom: 0.5em;
}


/*----------------------------------------------
		#6. Footer
----------------------------------------------*/
.social-media a{
	font-size: 5em;
	display: block;
	text-align: center;
}

/*----------------------------------------------
    Media Queries
----------------------------------------------*/

@media screen and (min-width: 64em) {

}

/*Foundation medium - large screen breakpoint, medium down*/
@media screen and (max-width: 64em) {

}



/*Foundation small - medium screen breakpoint, small only*/
@media screen and (max-width: 40em) {
	#bars {
		display: block;
		float: right;
	}

	ul.main-menu{
		display: none;
		border-top: 1px solid #cacaca;
		width: 127%;
		left: -25%;
		position: relative;
	}

	.title h1{
		margin: 0.3em auto;
		font-size: 2em;
	}

	.main-menu a{
		display: block;
		width: 100%;
		padding: 1.5em;
	}

	.logo img{max-height:47px;}

	.main{padding-top: 4.5em;}
	.main h2{
		font-size: 2em;
	}

	.expand-heading h3{margin-top: 1em;}

	.main section{margin:2em auto;}

	a.anchor{height: 4em;}


}

@media screen and (max-width: 490px) {
	.title h1{
		font-size: 1.3em;
    margin: 0.9em auto 0
	}

	.social-media a{
		font-size: 2em;
	}

	.main-menu li {
		width:100%;
	}
}
